@using Microsoft.AspNetCore.Identity
@using WorkingWithMultipleTable_Prod.Models.IdentityModel;
@inject SignInManager<ApplicationUser> signinManager
@inject UserManager<ApplicationUser> userManager

<div>

    @if (signinManager.IsSignedIn(User))
    {
        
    <ul class="nav navbar">
        <li class="nav-item">
            <a class="text-muted text-dark">Welcome, @userManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
                <a asp-controller="Account" asp-action="Logout" class="nav-link text-danger"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        </li>
    </ul>

    }
    else
    {
    <ul class="nav navbar">
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
        </li>
    </ul>
    }
</div>