<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
</head>
<body>
    <div>
        <table align="center">
            <tr>
                <td>
                    <table style="background-color:darkcyan; width :500px;" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <h1 style="text-align: center">{{title}}</h1>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="background-color: azure; width:500px" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <h1 style="text-align:center; font-size: large;">Congratulations! You're registered.</h1>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left:20px;">
                                    <p style="margin-bottom:0px;font-family: Imprima, Arial, sans-serif;"><h3>Welcome, {{Username}}</h3></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left:20px;white-space:pre-line">
                                    <p style="text-align:justify; margin-top:0px">
                                        You're receiving this message because you recently signed up for a account.

                                        Confirm your email address by clicking the button below. This step adds extra security to your business by verifying you own this email.
                                    </p>
                                    <div>
                                        <a href="{{callBackUrl}}" style="padding-left: 5px; padding-right: 5px; display: block; background: rgb(118, 48, 243); text-align: center; border-radius: 10px;color: white; text-decoration: none">Confirm email</a>
                                    </div>
                                    <p>
                                        <i>This link will be expired in 24 hours.</i><br />
                                        Thank You
                                        </p>
                                </td>
                            </tr>
                            <tr class="ui-draggable">
                                <td align="center" class="esd-block-social es-p20t esd-frame esd-hover esdev-disable-select esd-draggable esd-block esd-active" style="font-size:0" esd-handler-name="socialBlockHandler" esd-icons-active-padding="15">
                                    <div class="esd-block-btn esd-no-block-library">
                                        <div class="esd-more"><a><span class="es-icon-dot-3"></span></a></div>


                                        <div class="esd-move ui-draggable-handle" title="Move">
                                            <a><span class="es-icon-move"></span></a>
                                        </div>
                                        <div class="esd-copy ui-draggable-handle" title="Copy">
                                            <a><span class="es-icon-copy"></span></a>
                                        </div>

                                        <div class="esd-delete" title="Delete">
                                            <a><span class="es-icon-delete"></span></a>
                                        </div>
                                    </div>
                                    <table cellpadding="0" cellspacing="0" class="es-table-not-adapt es-social">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="top" class="es-p15r">
                                                    <a target="_blank" href="">
                                                        <img title="Facebook" src="https://tlr.stripocdn.email/content/assets/img/social-icons/logo-black/facebook-logo-black.png" alt="Fb" width="32" height="32">
                                                    </a>
                                                </td>
                                                <td align="center" valign="top" class="es-p15r">
                                                    <a target="_blank" href="">
                                                        <img title="Twitter" src="https://tlr.stripocdn.email/content/assets/img/social-icons/logo-black/twitter-logo-black.png" alt="Tw" width="32" height="32">
                                                    </a>
                                                </td>
                                                <td align="center" valign="top" class="es-p15r">
                                                    <a target="_blank" href="">
                                                        <img title="Instagram" src="https://tlr.stripocdn.email/content/assets/img/social-icons/logo-black/instagram-logo-black.png" alt="Inst" width="32" height="32">
                                                    </a>
                                                </td>
                                                <td align="center" valign="top">
                                                    <a target="_blank" href="">
                                                        <img title="Youtube" src="https://tlr.stripocdn.email/content/assets/img/social-icons/logo-black/youtube-logo-black.png" alt="Yt" width="32" height="32">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
