@model Response
@{
    ViewData["Title"] = "ForgetPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3" style="top:50%; right: 25%">
            @if (Model.StatusCode == "Reset")
            {
                <div class="alert alert-info" role="alert">
                    Your<strong> @Model.Message</strong> has been sent to Registered Email, kindly check your email to reset your password.
                </div>
            }
            else if (Model.StatusCode == "Success")
            {
                <div class="alert alert-success" role="alert">
                    @Model.Message, Please proceed to <a asp-action="Login" style="color: blue; text-decoration:none">login</a>
                </div>
            }
            
           
            <div class="d-grid">
                <a asp-action="Login" class="btn btn-warning">Back</a>
            </div>
        </div>
    </div>
</div>

