@model ForgetPasswordOrUsernameVM

<div class="row justify-content-center">

    <div class="col-3 border border-4 p-4 rounded mt-5">
        <form method="post" asp-action="ForgetPassword">
            <h3 class="text-center text-muted mb-2" style="font-size:20px;">Forgot Password</h3><hr />
            <div class="mb-3">
                <label class="mb-2" asp-for="Email"></label><span class="text-danger">*</span>
                <input type="email" asp-for="Email" class="form-control" autocomplete="on" placeholder="Please enter Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="row mt-4">
                <div class="col-6 d-grid">
                    <input type="submit" class="btn btn-primary d-block" value="Submit"/>
                </div>
                <div class="col-6 d-grid">
                    <a asp-action="Login" asp-controller="Account" class="btn btn-warning d-block text-light">Back to Login</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}