@model ForgetPasswordOrUsernameVM
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row justify-content-center">

    <div class="col-3 border border-4 p-4 rounded mt-5">
        <form method="post" asp-action="ResetPassword">
            <h3 class="text-center text-muted mb-2" style="font-size:20px;">Reset Password</h3><hr />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="Token" />
            <div class="mb-3">
                <label class="mb-2" asp-for="Password"></label><span class="text-danger">*</span>
                <input id="password" type="password" asp-for="Password" class="form-control" autocomplete="on" placeholder="Please enter Password" />
                <i id="openPassword" class="fa fa-eye float-end" style="margin-top:-25px; margin-right: 20px; cursor:pointer"></i>
                <i id="closedPassword" class="fa fa-eye-slash float-end" style="margin-top:-25px; margin-right: 20px; display:none; cursor:pointer"></i>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="mb-2" asp-for="ConfirmPassword"></label><span class="text-danger">*</span>
                <input id="confirmPassword" type="password" asp-for="ConfirmPassword" class="form-control" autocomplete="on" placeholder="Re-type Password" />
                <i id="openCPassword" class="fa fa-eye float-end" style="margin-top:-25px; margin-right: 20px; cursor:pointer"></i>
                <i id="closedcPassword" class="fa fa-eye-slash float-end" style="margin-top:-25px; margin-right: 20px; display:none; cursor:pointer"></i>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row mt-4">
                <div class="col-6 d-grid">
                    <input type="submit" class="btn btn-primary d-block" value="Reset Password" />
                </div>
                <div class="col-6 d-grid">
                    <a asp-action="Login" asp-controller="Account" class="btn btn-warning d-block text-light">Back to Login</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $("#openPassword").click(function () {
                $("#openPassword").hide();
                $("#closedPassword").show();
                $("#password").attr("type", "text");
            });
            $("#closedPassword").click(function () {
                $("#openPassword").show();
                $("#closedPassword").hide();
                $("#password").attr("type", "password");
            });
            $("#openCPassword").click(function () {
                $("#openCPassword").hide();
                $("#closedCPassword").show();
                $("#confirmPassword").attr("type", "text");
            });
            $("#closedCPassword").click(function () {
                $("#openCPassword").show();
                $("#closedCPassword").hide();
                $("#confirmPassword").attr("type", "password");
            });

        })
    </script>
}