@{
    ViewData["Title"] = "Home Page";
}

<style>
    .custom-icon {
        margin: 20px;
        font-size: 50px;
        color: #0026ff;
    }

        .custom-icon a:hover {
            color: red;
            font-size: 75px;
            transition: .1s ease-in-out;
        }
</style>
<div class="container">

    <div class="card-title">
        <h1 class="text-capitalize text-center text-info">DashBoard</h1>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-lg-3">
            <div class="card" style=" height: 200px;">
                <div class="card-body">
                    <h2 class="text-center">Users</h2>

                    <div class="text-center custom-icon">
                        <a asp-action="Index" asp-controller="Users">
                            <i class="fa-solid fa-users"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style=" height: 200px;">
                <div class="card-body">
                    <h2 class="text-center">Employee</h2>

                    <div class="text-center custom-icon">
                        <a asp-action="Index" asp-controller="Employee">
                            <i class="fa-solid fa-address-card"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style=" height: 200px;">
                <div class="card-body">
                    <h2 class="text-center">Department</h2>

                    <div class="text-center custom-icon">
                        <a asp-action="Index" asp-controller="Department">



                            <i class="fa-solid fa-building"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/fontawesome/js/fontawesome.min.js"></script>
<script src="~/lib/fontawesome/js/fontawesome.js"></script>
